<div class="home">
  <app-header></app-header>
  <carousel>
    <slide>
      <img src="assets/book1.webp" alt="first slide" class="bg-image" />
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-lg-center tit">"Welcome To THE BOOK STORE! There's So Much In Store!"</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/book2.jpg" alt="second slide" class="bg-image"  />
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-lg-center tit">“Books are a uniquely portable magic"</h1>
      </div>
    </slide>
    <slide>
      <img src="assets/book3.jpg" alt="third slide" class="bg-image" />
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-lg-center tit">“This Redesigned Bookstore Is The Smartest Thing You Will See Today!!”</h1>
      </div>
    </slide>
  </carousel>
</div>
